@import url(general.css);

:root {
    --color-base: rgba(0, 10, 20, 1); /* #000A14 */
    --color-claro: rgba(15, 25, 35, 1); /* #0F1923 */
    --color-intermedio: rgba(30, 45, 60, 1); /* #1E2D3C */
    --color-complementario-calido: rgb(65, 200, 209); /* #C85A3C */
    --color-secundario-frio: rgba(0, 80, 120, 1); /* #005078 */
  
    /* Transparencias útiles */
    --color-base-semitransparente: rgba(0, 10, 20, 0.5);
    --color-claro-semitransparente: rgba(15, 25, 35, 0.5);
  }
  
  /* Planes */
  section.pricing {
    background: linear-gradient(to top, white, rgba(0, 10, 20, 1));
  }
  
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    background-color: var(--color-base);
    color: white;
  }

  
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
  



  /* Servicios */


  /* Fondo degradado para la sección "Nuestros Servicios" */
.services-section {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), var(--color-intermedio));
  color: white;
}

.services-section h2,
.services-section p {
  color: white;
}

/* Opcional: Ajustes para las tarjetas */
.services-section .border {
  background: white;
}
