@import "./general.scss";

.cover{
    height: 70vh;
    background-color: rgba(0,10,20,1);
    color: white;
    @include centrado();

    .contenedor-cover{
        text-align: center;
        h1{
            font-size: 70px;
        }

        h2{
            font-size: 20px;
        }
    }
    
}